@import 'reset';
@import 'variables';
@import 'mixins';

// components
@import 'components/audio-player';
@import 'components/pop-up';
@import 'components/info-hotspots';

// external addons
// @import "ember-modal-dialog/ember-modal-structure";
// @import "ember-modal-dialog/ember-modal-appearance";

html{
	margin: 0;
}

html,
body{
	height: 100%;
	min-height: 100%;
}

body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: $bodyColor;
	font-family: $bodyFont;
	position: relative;
	background: aliceblue;
}

h1{
	font-weight: bold;
	margin-botom: 10px;
}

h2{
	font-weight: bold;
}

#studio71-app {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

#studio71-app .ember-view:first-child{
	height: 100%;
	min-height: 100%;
}

.wrapper{
	margin: 0 auto;
	max-width: 1040px;
	height: 100%;
	min-height: 100%;
	position: relative;
}

.instruction-hotspots{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
}

.info-hotspot{
	position: absolute;
}

.audio-player{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.audio-player audio{
	width: 100%;
}