<h2>{{model.title}}</h2>
<p>{{model.instructions}}</p>
<div class="instruction-hotspots">
	{{#each hotspots as |hotspot|}}
		{{info-hotspot content=hotspot highlighted=highlighted}}
	{{/each}}
</div>
{{audio-player content=model.audio triggers=hotspotTriggers control=this}}


