<div class='close-popup' {{action 'closePopUp'}}></div>
<h3>{{content.title}}</h3>
<div class='description'>{{content.description}}</div>
{{#if content.image}}
	<div class='image'><img src={{imageUrl}} /></div>
{{/if}}

